.projects-container {
  width: 80%;
  margin: 0 auto;
  color: #333;
}

.projects-header {
  text-align: center;
  margin-bottom: 2rem;
}

.projects-header h2 {
  margin-top: 2%;
  font-size: 1.3rem;
  color: #000;
  font-weight: bold;
}

.projects-header h1 {
  margin-top: 3%;
  font-size: 1.9rem;
  color: #1ed05c;
  font-weight: bold;
  margin: 0.5rem 0;
}

.description {
  margin-top: 1%;
  font-size: 1.2rem;
  color: #888;
  margin-bottom: 1rem;
}

.projects-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.projects-nav li {
  margin: 0 1rem;
  margin-top: 1%;
}

.projects-nav a {

  text-decoration: none;
  color: #6fa3db;
  font-weight: bold;
  transition: color 0.3s;
}

.projects-nav a:hover {
  color: #efa721;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-item {
  width: 45%;
  margin-bottom: 2rem;
  text-align: left;
}

.project-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.project-item h2 {
  font-size: 1.5rem;
  color: #229ff2;
  margin: 0.5rem 0;
}

.project-item p {
  font-size: 1rem;
  color: #75c052;
  
}
